.average-layout {
    width: 400px;
    height: 400px;
    div {
        float: left;
        width: 25%;
        height: 100%;
    }
}

.one {
    background-color: #f66;
}

.two {
    background-color: #66f;
}

.three {
    background-color: #f90;
}

.four {
    background-color: #09f;
}