.vertical-text {
    // writing-mode 属性定义了文本在水平或垂直方向上如何排布。
    writing-mode: vertical-rl;
    h3 {
        padding-left: 20px;
        font-weight: bold;
        font-size: 26px;
        color: #ec4e8a;
    }
    p {
        line-height: 30px;
        color: #74759b;
    }
}

.list {
    h3 {
        color: #cc5595;
    }
    list-style: none;
    color: #815c94;
    writing-mode: vertical-rl;
    // 这里的标点符号有待解决 
    li::after {
        writing-mode: unset;
        content: ", ";
    }
}