.specified-scope {
    width: 300px;
    li {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        &:nth-child(odd) {
            background-color: #f66;
        }
        &:nth-child(even) {
            background-color: #66f;
        }
        // 这是一个什么用法？   n+6 表示从第6个开始的子元素
        // -n+10 表示从第1个到第10个
        &:nth-child(n+6):nth-child(-n+10) {
            background-color: #3c9;
        }
    }
}